html {
    background-image: url(https://images.pexels.com/photos/3801030/pexels-photo-3801030.jpeg?cs=srgb&dl=photo-of-trees-in-forest-3801030.jpg&fm=jpg);
    background-size: cover;
    opacity: .6;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px)
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}